@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'Montserrat', sans-serif;
}


.hero{
  background-image: url(./assets/image/HeroImagelg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}